
{% extends 'portfolio/layout.html' %}

{% block style %}


{% endblock style %}



{% block main %}
    {%  load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/apis.css' %}"/>


    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0
">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<div  class="contentorAPI">
    <h1>Localização</h1>



<h2 class="h2-api">JavaScript Geolocation API</h2>
<p class="p-api">Click the button to get your coordinates.</p>

<button class="button-api" onclick="getLocation()">Try It!</button>

<h2 class="p_display" id="geo"></h2>

<script>
const x = document.getElementById("geo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}
</script>

</div>







{% endblock main %}
