
{% extends 'portfolio/layout.html' %}





{% block main %}

    {%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/educacao.css' %}"/>



            <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">










<div class="container2" >



    <article class="titulo">  Educação</article>





        <a class="centrartexto2" href="https://www.ulusofona.pt/" target="_blank"><img src="{% static 'portfolio/images/logo_ulht2.png' %}" alt="">
        </a>  <h1 class="centrartexto2">Universidade Lusofóna de Humanidades e Tecnologias </h1>
              <h2 class="centrartexto2"> Licenciatura,Engenharia Informática  </h2>

<br>
<br>
<br>
    <br>

        <a class="centrartexto2" href="https://www.isel.pt/" target="_blank"><img src="{% static 'portfolio/images/ISEL-616x384.png' %}" alt="">
        </a>  <h1 class="centrartexto2">ISEL- Instituto Superior de Engenharia De Lisboa </h1>
              <h2 class="centrartexto2"> Licenciatura, Engenharia Informática e Multimédia  </h2>
                   <h2 class="centrartexto2"> 2019-2020 </h2>
<br>
    <br>
<br>
    <br>
   <a class="centrartexto2" href="https://aesampaio.pt/" target="_blank"><img src="{% static 'portfolio/images/sampaio.jpg' %}" alt="">
        </a>  <h1 class="centrartexto2"> Escola Secundária de Sampaio</h1>
              <h2 class="centrartexto2"> Ciências e Tecnologias  </h2>
                   <h2 class="centrartexto2"> 2015-2019 </h2>



<br>
<br>
<br>
    <br>
    <span class="centrartexto4">
        <h2 style="text-align:  inherit" >Diplomas e Participações:</h2>
<br><img class="img" src="{% static 'portfolio/images/diplomas.png' %}" alt="">
<br>
    </span>

<br>
<br>
<br>
    <br>

<span class="centrartexto3">
<h2> Competências Tecnicas:</h2>
<ul >
    <ul >
        Hardware e software
    </ul>

      <ul>
     Competências na área da tecnologia e informática
    </ul>

          <ul>
 Competências de comunicação escrita
    </ul>


</ul>

    <br>
    <br>

    <h2> Competências Organizacionais:</h2>
<ul >
    <ul >
   Organização mental
    </ul>

      <ul>
Capacidade para trabalhar em equipa
    </ul>

          <ul>
Gestão de tempo
    </ul>


</ul>


        <br>
    <br>


        <h2> Aptidões e competências sociais:</h2>
<ul >
    <ul >
 Empatia
    </ul>

      <ul>
Comunicação
    </ul>

          <ul>
Saber ouvir
    </ul>


</ul>


</span>














 </div>









{% endblock %}

