
{% extends 'portfolio/layout.html' %}





{% block main %}

    {%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projetos.css' %}"/>


            <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">







    <h1 div style="text-align:center">Projetos</h1>
    <br>
    <h2 style="text-align:center">Projetos Pessoais</h2>


<div class="container" >


  <div>



    <h3 style="margin-bottom:0.30cm;" >Reverberation model and Geo Space Processing(Python) </h3>

    <h5 style="margin-bottom:0.30cm;">Modelo de reverberação de uma sala de orquestra </h5>

    <h4 style="margin-bottom:0.30cm;">Participantes:  <a href="https://github.com/mariosilva22007457" target="_blank" > Mário Silva </a> </h4>

    <h4 style="margin-bottom:0.30cm;">Tecnologias usadas: Python </h4>


    <h4 style="margin-bottom:0.30cm;">Github: <a href="https://github.com/mj25200/Reverberation-model-and-Geo-Space-Processing-Python-" target="_blank"> Reverberation Model  </a> </h4>

    <h4 style="margin-bottom:0.30cm;">Ano:2020 </h4>

         {% load static %}
          <h4 style="margin-bottom:0.30cm;"> <a href="https://github.com/mj25200/Reverberation-model-and-Geo-Space-Processing-Python-" target="_blank"> <img src="{% static 'portfolio/images/geo.png' %}" alt="error"> </a>   </h4>



  </div>

  <div >
    <h3 style="margin-bottom:0.30cm;">Telegram Bot(Python) </h3>
    <h5 style="margin-bottom:0.30cm;">Bot de Telegram para guardar Ficheiros </h5>
    <h4 style="margin-bottom:0.30cm;">Participantes:  <a href="https://github.com/mariosilva22007457" target="_blank" > Mário Silva </a> </h4>
    <h4 style="margin-bottom:0.30cm;">Tecnologias usadas: Python </h4>
    <h4 style="margin-bottom:0.30cm;">Github: <a href="https://github.com/mj25200/PythonBots" target="_blank"> Um bot de Telegram </a> </h4>
    <h4 style="margin-bottom:0.30cm;">Ano:2021 </h4>
               {% load static %}
          <h4 style="margin-bottom:0.30cm;"> <a href="https://github.com/mj25200/PythonBots" target="_blank"> <img src="{% static 'portfolio/images/bot.png' %}" alt="error"> </a>   </h4>

  </div>



  <div>
    <h3 style="margin-bottom:0.30cm;">Car Racing on a track (Python) </h3>
    <h5 style="margin-bottom:0.30cm;">Carro numa pista(imagem) </h5>
    <h4 style="margin-bottom:0.30cm;">Participantes:  <a href="https://github.com/mariosilva22007457" target="_blank" > Mário Silva </a> </h4>
    <h4 style="margin-bottom:0.30cm;">Tecnologias usadas: Python </h4>
    <h4 style="margin-bottom:0.30cm;">Github: <a href="https://github.com/mj25200/Race-Car-Python" target="_blank"> Carro numa pista</a> </h4>
      <h4 style="margin-bottom:0.30cm;">Ano:2020 </h4>
                     {% load static %}
          <h4 style="margin-bottom:0.30cm;"> <a href="https://github.com/mj25200/Race-Car-Python" target="_blank"> <img src="{% static 'portfolio/images/car.jpg' %}" alt="error"> </a>   </h4>

  </div>


 </div>







    <h2 style="text-align:center">Projetos Licenciatura</h2>










    <div class="container" >
 {% for projeto in projetos %}

  <div>


    <h3 style="margin-bottom:0.30cm;" >  Titulo:  {{projeto.titulo}}      </h3>




    <h5 style="margin-bottom:0.30cm;"> Descricão:    {{projeto.descricao}}           </h5>

        {% for pessoas in projeto.participantes.all %}
    <h4 style="margin-bottom:0.30cm;">  Participantes:   <a href="{{ pessoas.linkedin }}" target="_blank" > {{ pessoas }}</a> </h4>
    {% endfor %}

    <h4 style="margin-bottom:0.30cm;">  Tecnologias:      {{ projeto.tecnologias }}              </h4>


    <h4 style="margin-bottom:0.30cm;"> Github:   <a href="{{projeto.github}}" target="_blank"> Click here </a> </h4>


         <h4 style="margin-bottom:0.30cm;">  Ano: {{ projeto.ano}}   </h4>

       <h4 style="margin-bottom:0.30cm;"> <a href="{{projeto.github}}" target="_blank"> <img src="{{ projeto.imagem.url }}" alt="error"> </a>   </h4>

         {% load static %}



  </div>

          {% endfor %}

</div>







    <h2 style="text-align:center">Trabalhos Finais Interessantes</h2>










    <div class="containerTFC" >
<a href="{% url 'portfolio:novotfc' %}" >   <button class="button">  Create new TFC!!</button> </a>



 {% for trabalho in trabalhos %}

  <div>


{% for pessoas in trabalho.autores.all %}
    <h3 style="margin-bottom:0.30cm;" >  Autores:  {{trabalho.autores}}      </h3>
         {% endfor %}
{% for pessoas in trabalho.orientadores.all %}
    <h5 style="margin-bottom:0.30cm;"> Orientadores:    {{trabalho.orientadores}}           </h5>
 {% endfor %}

    <h4 style="margin-bottom:0.30cm;">  Ano: {{trabalho.ano}}    </h4>


    <h4 style="margin-bottom:0.30cm;">  Titulo:      {{ trabalho.titulo }}              </h4>


    <h4 style="margin-bottom:0.30cm;"> Resumo:   {{trabalho.resumo}}</h4>




       <h4 style="margin-bottom:0.30cm;"> <img src="{{ trabalho.imagem.url }}" alt="error">   </h4>

         {% load static %}


      <h4 style="margin-bottom:0.30cm;">  Relatorio: <a href="{{trabalho.relatorio}}" target="_blank"> Click here to read!  </a>   </h4>

<h4 style="margin-bottom:0.30cm;"> Github:   <a href="{{trabalho.github}}" target="_blank"> Click here </a> </h4>

        <h4 style="margin-bottom:0.30cm;"> Video:   <a href="{{trabalho.video}}" target="_blank"> Click here </a> </h4>


    </div>
          {% endfor %}


  </div>













































{% endblock main %}

