{% extends 'portfolio/layout.html' %}







{% block main %}

    {%  load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/tech.css' %}"/>


            <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">


    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title> Tech!</title>
</head>
<body>

<div class="containertech">

<h1 CLASS="centrartexto">Tecnologias Interessantes: </h1>



    {%  for tech in technos %}
<div>

    <h3 > {{ tech.nome}}</h3>
<br>
    <p>
{{ tech.acronimo }}
    </p>
 <br>
    <p > {{ tech.ano}}</p>

<br>

       <p > {{ tech.caracteristicas}}</p>

<br>
    <p > {{ tech.criador}}</p>

    <br>



     <img src="{{ tech.logotipo.url }}" alt="">
    <br>
    <br>

<h3> <a href="{{ tech.link }}"> Leia Aqui!</a></h3>

</div>



{% endfor %}

 </div>

</body>


{% endblock %}