{% extends 'portfolio/layout.html' %}





{% block main %}

    {%  load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/web.css' %}"/>



            <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">










<div class="containerweb" >




    <article class="titulo1">  Programação Web !

    <a  class="linkz2" href="{% url 'portfolio:quizz' %}" target="_blank">Quiz</a>

<a  class="linkz2" href="https://a22007457-pw-lab2.herokuapp.com" target="_blank">Labs</a>

  <a  class="linkz2" href="#C4" target="_blank">Notcias</a>

         <a  class="linkz2" href="{% url 'portfolio:apis' %}" target="_blank">APIS</a>

   <a  class="linkz2" href="{% url 'portfolio:weather' %}" target="_blank">Weather</a>

    </article>
<br>
<br>

<h1 class="centrartexto2"> Noticias</h1>



    {%  for news in noticias %}
<div>

    <h3 > {{ news.titulo }}</h3>
<br>
    <p>
{{ news.descricao }}
    </p>
    <br>

     <img src="{{ news.imagem.url }}" alt="">
    <br>
    <br>

<h3> <a href="{{ news.link }}"> Leia Aqui!</a></h3>

</div>

{% endfor %}



<h2 CLASS="centrartexto2">Tecnologias Utilizadas Neste Site:</h2>



    {%  for tech in tecnologias %}
<div>

    <h3 > {{ tech.nome}}</h3>
<br>
    <p>
{{ tech.acronimo }}
    </p>
 <br>
    <hp > {{ tech.ano}}</hp>

<br>

       <p > {{ tech.caracteristicas}}</p>

<br>
    <p > {{ tech.criador}}</p>

    <br>

     <img src="{{ tech.logotipo.url }}" alt="">
    <br>
    <br>

<h3> <a href="{{ tech.link }}"> Leia Aqui!</a></h3>

</div>

{% endfor %}



<br>
<br>

    <br>
<br>


<h2 CLASS="centrartexto2">Exemplos Tecnicas:</h2>



    {%  for tecnica in tecnicas %}
<div >

    <h3 > {{ tecnica.nome}}</h3>
<br>

    <br>
    <br>

        <img src="{{ tecnica.imagem.url }}" alt="">

    <br>
    <br>

<h3> <a href="{{ tecnica.link }}" target="_blank"> Leia Mais Aqui!</a></h3>



</div>

{% endfor %}


<h2 CLASS="centrartexto2">Padrões Usados:</h2>




    {%  for padrao in padroes %}
<div >

    <h3 > {{ padrao.nome}}</h3>
<br>
    <p> {{ padrao.descricao }}</p>
    <br>
    <br>

     <img src="{{ padrao.imagem.url }}" alt="">

    <br>

<h3> <a href="{{ padrao.link }}" target="_blank"> Leia Mais Aqui!</a></h3>

</div>

{% endfor %}



  <h2 CLASS="centrartexto3">Diagrama E/R:</h2>
<p class="centrartexto3"> Click na Imagem para Fazer Download</p>
<a class="centrartexto2" href="../../static/portfolio/images/diagramaER.png" download>
  <img  class="imagem" src="../../static/portfolio/images/diagramaER.png" alt="Diagrama ER" width="450" height="450">
</a>

<script>

    const url = 'https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json ';
        async function getWeather(){

        const response = await fetch(
            url);
        const data = await response.json();
        console.log(data.tMax);

    }

    getWeather();


</script>




 </div>










{% endblock %}