.contentorAPI{
    overflow-y: hidden;

position: relative;
  display: flex;
align-content: center;


color: white;
   flex-wrap: wrap;

text-align: center;


}


body {
    background-image: url('../images/hologram_scheme_scifi_139294_3840x2160.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
