.contentorAPI{
    overflow-y: hidden;


margin-top: 15px;
 padding: 10px;


color: white;


text-align: center;


}
.p{
    margin-top: 10px;
}
.h2{
    margin-top: 10px ;
}
body {
    background-image: url('../images/hologram_scheme_scifi_139294_3840x2160.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.button{
    margin-top: 10px;
}