.submission_form{
    margin: 2rem auto;
    border: 2px solid #EE1144;
    padding: 2rem;
   max-width:  500px;
    font-family: sans-serif;
}


#sendBtn{
    border: 0;
    background: #3f51b5;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
    cursor:pointer;



}
#sendBtn:hover{

    background: #00bcd4;

}



.centrarH2{
    text-align: center;
    margin-top: 10px;
}