* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}



header {
  height: 10vh;
  background: #000018;

 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
position: sticky;

  color: white;
  top: 0;
  z-index: 99;

  /* alinhando logo e menu */
  display:flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  font-size: 2em;
  padding: 1em;
}

header nav {
  display:flex;
  justify-contents: flex-end;
}
.center{
  margin: auto;
}
nav a {
  padding: 0 1em;
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
}



footer {
  /* definindo altura e cor */


  background: #000018;

clear:both;
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;



   width:100%;

  color: white;



  display:flex;
  justify-content: space-between;
  align-items: center;



   position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  z-index: 98;
}

* {
    margin: 0;
}

#tempo{
  color: white;
}
