
.centrartexto{
    margin-top: 3%;
    text-align: center;
    vertical-align: center;
    position: fixed;
    width: 100%;
    left: 0px;
    margin-bottom: 20px;
    color: aliceblue;
}
.containertech{
    position: relative;
   
align-content: center;
display: flex;

    background-image: url('../images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;


   flex-wrap: wrap;




        min-height: 5000px;




  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;








}


.containertech div{

        width: 500px;
    height: 500px;
    box-shadow: 5px 5px 15px #888888;
    border-radius: 24px;
    padding: 20px 40px;
    gap: 10px;

    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
      background-image: url('../images/depositphotos_14490301-stock-photo-highly-detailed-grunge-background.jpg');

}